/* Сброс основных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}

p {
    line-height: 1.5;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
}